<div class="containter">
  <div class="col-md-4">
	<h1><%= @event.name %>'s Information</h1>


	<h3>Event Description:</h3>
	<p><%= @event.description %></p>

	<br>
	Field Information Below If Event at Field:

	<%= render 'fields', locals: { field: @event.fields } unless @event.fields.blank? || @event.fields.nil? %>
	<br>

	<p>View Comments for this event?</p>
  <% @comments.each do |comment| %>
  <button class="js-comment" data-id="<%= comment.id %>">View</button>

  <%= link_to 'Comments', event_comments_path(@event) %><br>
  <div class="comments">
    <p id="content"></p>
  </div>
  <% end %>
	<br>
	<% if @event.user_id == current_user.id %>
		<p><%= link_to "Edit Event", edit_event_path(@event) %></p>

		<p><%= link_to "Delete Event", event_path, method: :delete %></p>
	<% end %>
  </div>
</div>
